*{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
body{
  background-color:  black;
  color: white;
}
a{
  text-decoration: none;
}
[v-cloak]{
  display: none;
}
#app{
  margin: 0 auto;
  width: 100rem;
}
.header{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
  .header .search{
    width: 100%;
    text-align: center;
  }
    .header .search .search_box{
      position: relative;
    }
      .header .search .search_box .update{
        position: absolute;
        top: 15%;
        right: 24%;
        background: black;
        border-radius: 1rem;
        padding: 5px;
        cursor: pointer;
      }
        .header .search .search_box input{
          width: 50%;
          font-size: 1.5rem;
          padding: .2rem 2rem .2rem 1rem;
          border: none;
          border-radius: 2rem;
          text-align: center;
        }
          .header .search .search_box input:focus{
            outline: none;
          } 
.hero_list{
  width: 100%;
}
.hero_list ul{
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
  .hero_list ul li{
    width: 10%;
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all .5s;
    position: relative;
  }
    .hero_list ul li .name{
      width: 100%;
      font-size: 1.2rem;
      cursor: pointer;
      text-align: center;
      overflow: hidden;
      font-weight: bold;
    }
      .hero_list ul li img:hover{
        cursor: pointer;
        transition: transform .5s;
        transform: scale(1.1);
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        z-index: 9;
        box-shadow: 2px 2px 2px 2px rgb(12 22 24 / 40%);
      }
.skin_list{
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
  background-color: rgba(0,0,0,.7);
}
  .skin_list .skin_box{
    width: 80%;
    height: 70%;
    top: 15%;
    left: 10%;
    position: fixed;
    overflow: hidden;
  }
  .skin_list .skin_box ul{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
  }
  .skin_list .skin_box ul::-webkit-scrollbar{
    display: none;
  }
    .skin_list .skin_box ul li{
      width: 20%;
      margin: 0 40%;
      text-align: center;
      position: relative;
      display: flex;
    }
    .skin_list .skin_box ul li img{
      width: 40vh;
      height: 100%;
      border-radius: 1rem;
    }
      .skin_list .skin_box .name{
        width: 100%;
        font-size: 1.4rem;
        position: absolute;
        bottom: 1rem;
        left: 0;
      }
      .skin_list .skin_box .name p{
        width: 40vh;
        cursor: pointer;
        background-color: rgba(0,0,0,0.2);
      }
      .skin_list .skin_box .name:hover p{
        color: red;
      }
        .skin_list .skin_box .skin_num{
          z-index: 2;
          left: .5rem;
          top: .5rem;
          position:absolute;
        }
.off{
  position: absolute;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  right: 0.5rem;
  top: .1rem;
  padding: .2rem;
  width: 5rem;
  text-align: center;
  border-radius: 1rem;
}

.yuying{
  margin:0 1rem;
}
.slide{
	line-height: 300px;
	color: #fff;
	font-size: 36px;
	text-align: center;
}
.page_move{
  position: absolute;
  top: 50%;
  cursor: pointer;
}
.left{
  left: 0;
}
.right{
  right: 0;
}
.footer{
  height: 100px;
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .footer .yuying{
    font-size: 1.2rem;
  }
   .footer .tips{
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: .6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
   } 
   .footer .tips_left{
     left: 0;
     right: unset;
   }
    .footer .tips a{
      color: white;
    }
    .footer .tips p{
      width: 100%;
    }

  .hxd{
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
    text-align: center;
    width: 200px;
  }
  .hxd::before{
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    -webkit-animation: rotate 4s linear infinite;
    animation: rotate 4s linear infinite;
  }
  .hxd::after{
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
    -webkit-animation: opacityChange 3s infinite alternate;
    animation: opacityChange 3s infinite alternate;
  }
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  .hxd img{
    width: 100px;
    height: 100px;
  }
  .hxd p{
    color: black;
  }