@media screen and (max-width: 1200px) {
  #app{
    width: 100%;
  }
  .hero_list ul{
    width: 100%;
  }
  .hero_list ul li{
    width: 25%;
    margin: 0 0 2rem 0;
  }
  .hero_list ul li img{
    width: 80%;
  }
  .hero_list ul li .name p{
    font-size: 1rem;
  }
  .header .search .search_box input{
    width: 80%;
  }
  .header .search .search_box .update{
    right: 5%;
  }
  .footer .tips{
    text-align: right;
    z-index: -1;
  }
  .footer .tips_left{ 
    text-align: left;
  }
  .header .search .search_box{
    margin-bottom: 1rem;
  }
  .skin_list .skin_box{
    left: 20%;
    width: 60%;
    overflow: hidden;
  }
  .skin_list .skin_box ul li{
    margin: unset;
    width: 100%;
  }
  .skin_list .skin_box ul li img{
    width: 100vh;
    border-radius: 0;
  }
  .skin_list .skin_box .name p{
    width: 100%;
  }
}